# Python
venv/
__pycache__/
*.pyc

# Flutter
kavach_app/.dart_tool/
kavach_app/build/
kavach_app/.flutter-plugins
kavach_app/.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
*.env
